
html { overflow-y: scroll;/*滚动条*/ }
/*
body { 
  background: #eee;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

br { display: block; line-height: 1.6em; } 

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
*/
header{
  text-align: center;
  position:relative;
}
#main_header{
  text-align: center;
  font-family: 楷体;
  font-size: larger;
}
#background_switch_button_8, #background_switch_button_9, #background_switch_button_10{
  float:left;
  margin:0px;
  border: 0px;
  padding: 5px 12px;
  background-color: rgb(133, 159, 100);
  border-radius: 4px;
  font-family: 楷体;
  font-size: smaller;
}
#background_switch_button_8:hover, #background_switch_button_9:hover, #background_switch_button_10:hover{
  float:left;
  margin:0px;
  border: 0px;
  padding: 5px 12px;
  background-color: rgb(100, 117, 76);
  border-radius: 4px;
  font-family: 楷体;
  font-size: smaller;
}

#nextmonth_8, #lastmonth_8, 
#nextmonth_9, #lastmonth_9, 
#nextmonth_10, #lastmonth_10{
  float:right;
  margin:2px;
  border: 0px;
  padding: 5px 12px;
  background-color: rgb(133, 159, 100);
  border-radius: 4px;
  font-family: 楷体;
  font-size: smaller;
}
#nextmonth_8:hover, #lastmonth_8:hover, 
#nextmonth_9:hover, #lastmonth_9:hover, 
#nextmonth_10:hover, #lastmonth_10:hover{
  float:right;
  margin:2px;
  border: 0px;
  padding: 5px 12px;
  background-color: rgb(100, 117, 76);
  border-radius: 4px;
  font-family: 楷体;
  font-size: smaller;
}

.bottomtab{
  margin: auto;
  font-size: small;
  color: rgb(56, 56, 56);
  position: fixed;
  /*绝对位置模式下居中：给元素确定大小，再给确定位置*/
  right: 0;
  left: 0;
  /* top: 0; */
  bottom: 0;
  width: 200px;
  height: 50px;
}


