
html { overflow-y: scroll;/*滚动条*/ }
/*
body { 
  background: #eee;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

br { display: block; line-height: 1.6em; } 

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
*/



